ion-list {
    background-color: #5260FF;
}

#titulo {
    margin-bottom: 10px;
}


/*Componentes del formulario de regsitrar usuario*/

.dato_usuario {
    margin-top: 2.5%;
    margin-bottom: 2.1%;
}

#botonRegister {
    margin-top: 6.5%;
    margin-right: 2%;
    margin-left: 2%;
}