.container_compras {
    background-color: #4618AC;
    color: #FFF;
}

.pago {
    margin-top: -40px;
}

.medidas_imagen {
    width: 280px !important;
    height: 280px !important;
}

.imagen_empresa {
    width: 220px !important;
    height: 160px !important;
}

.bg-formulario {
    background-color: #F3F3F3;
}


/**-------  Para hacer nuestro botón de PayPal responsive  -------------*/


/* Para visualizar en el móvil */

@media screen and (max-width: 360px) {
    #boton-paypal {
        width: 100%;
    }
}


/* Para visualizar en escritorio de ordenador */

@media screen and (min-width: 360px) {
    #boton-paypal {
        width: 250px;
    }
}

#link_paypal:hover {
    background-color: #000;
    border-radius: 4px;
}


/**--------- Funcionalidades del PayPal  ----------*/

#juegosCarrito {
    background-color: #E75B00;
    color: #FFF;
}

#juegosCarrito:hover {
    background-color: #B34700;
    color: #FFF;
}


/** ----------- Diseño del formulario direcciones de envio  ----------------- */

.fondo-carrito {
    background-color: #1F065C;
    color: #FFF;
}

.bg-formulario {
    background-color: #E6E6E6;
}

.container-tipo-coste {
    width: 520px !important;
    height: 700px !important;
}