<!-- Menú para volver a la tienda más visualmente -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title align="center">Operaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="tertiary">
    <ion-list>
      <!-- Botón de login de clientes -->
      <ion-item color="tertiary"(click)="addBackJuego()" class="btnInicio">
        <ion-text>
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          <span>Volver a agregar juegos</span>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <!-- Mostramos las barras de menú -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title align="center">Tienda de Landgame</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" color="tertiary">
    <!-- Juegos mostrados en forma de ion-item-sliding realizar la compra -->
    <ion-list #compra>
      <ion-card class="card" *ngIf="carritoCliente?.length === 0">
        <ion-item color="warning">
          <ion-label color="light" align="center">No se han encontrado juegos de mesa en su carrito</ion-label>
        </ion-item>
      </ion-card>

      <ion-item-sliding *ngFor="let juego of carritoCliente">
        <ion-item>
          <ion-grid [fixed]="true">
            <ion-row>
              <ion-label text-left>
                <h3 slot="start"><strong>Nombre:</strong> {{ juego.nombre }}</h3>
                <h3 slot="start"><strong>Descripción:</strong> {{ juego.descripcion }}</h3>
                <h3 slot="start">
                  <strong>Imágen:</strong>
                  <ion-img src="../assets/{{ juego.url }}" class="bg-white rounded imagen"
                    alt="Juego de Landgame">
                  </ion-img>
                </h3>
                <h3 slot="start"><strong>Cantidad:</strong> {{ juego.cantidad }}</h3>
                <h3 slot="start"><strong>Precio unitario:</strong> {{ juego.precioUnitario }} €</h3>
              </ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- Situamos el item a la derecha -->
        <ion-item-options side="end">
           <ion-item-option (click)="eliminarJuegoCarrito(juego.id, juego.nombre)" id="{{juego.id}}" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
              Eliminar
            </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- Botones que aparecen cuando hay juegos en el carrito -->
    <div *ngIf="carritoCliente?.length !== 0">
      <ion-button expand="full" class="btnLimpiar" (click)="limpiarCarrito()">
        <ion-icon name="trash-bin-sharp"></ion-icon>
        <span>Limpiar carrito</span>
      </ion-button>


      <ion-button expand="full" class="btnCompra" (click)="comprarJuegos()">
        <ion-icon name="cart-sharp"></ion-icon>
        <span>Realizar compra</span>
      </ion-button>
    </div>
  </ion-content>
</div>
