/* Para los estilos del carrito de la compra del cliente */

#imagen {
    max-width: 250px;
    max-height: 250px;
}

ion-button {
    --background: #1F065C;
}


/* Estilos del menú */

ion-list {
    background-color: #5260FF;
}